<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Friend List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>My friend list</h1>
	
	<table>
		<tr th:each="friend: ${friends}">
			<td th:text="${friend.friend}"></td>
		</tr>
	</table>
	
	<h1>Form</h1>
	<form action="#" th:action="@{/index}" method="get">
    	<p>Name: <input type="text" th:name="name" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>


</body>
</html>